body{
    background-image:linear-gradient(180deg, red 0%, black 40%);
    background-repeat: no-repeat;
    background-size: cover;
}

.lightFont{
    color: white;
}

.tickets{
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px 15px;
    background-color: red;
    margin-top: -5px;
}

.navbar-dark .navbar-nav .nav-link{
    color: lightgray;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: darkgray;
}

.dirTab i{
    color: black;
    background-color: red;
    border-radius: 3px;
    padding: 3px;
}

.dirTab{
    position: relative;
    float: right;
    right:-45px;
}

.fa-linkedin{
    font-size: 40px;
    transition: ease-in-out 0.2s;
    transform-origin: top right;
}

.fa-linkedin:hover{
    cursor: pointer;
    font-size: 50px;
    transition: ease-in-out 0.2s;
}

.fa-github{
    font-size: 36px;
    transition: ease-in-out 0.2s;
}

.fa-github:hover{
    cursor: pointer;
    font-size: 46px;
    transition: ease-in-out 0.2s;
    transform-origin: top right;
}

.fa-id-card, .fa-home{
    font-size: 31px;
    transition: ease-in-out 0.2s;
}

.fa-id-card:hover, .fa-home:hover{
    cursor: pointer;
    font-size: 41px;
    transition: ease-in-out 0.2s;
    transform-origin: top right;
}

.dirCont{
    position: fixed;
    left: auto;
    right: 5px;
    top: 45vh;
    z-index: 25;
    width: fit-content;
}

/*** Font Styles ***/
h1{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

h2{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

p{
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

a{
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px
}

.navbar-brand{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}